.LoginPage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 30px 40px;

        label {
            margin: 10px 0;
        }

        input[type=text]  {
            padding: 6px 4px;
        }
        
        input[type=password]  {
            padding: 6px 4px;
        }

        input:focus {
            outline:none;
        }

        input[type=submit]  {
            margin-top: 10px;
            width: 140px;
            padding: 5px;
        }
    }

    .LoginPage_signup-link {
        margin-top: 10px;

        p {
            font-size: 18px;
        }
    }
}